@font-face {
  font-family: 'AlfaSlabOne-Regular';
  src: url('AlfaSlabOne-Regular.eot');
  src: url('AlfaSlabOne-Regular.eot?#iefix') format('embedded-opentype'),
       url('AlfaSlabOne-Regular.svg#AlfaSlabOne-Regular') format('svg'),
       url('AlfaSlabOne-Regular.ttf') format('truetype'),
       url('AlfaSlabOne-Regular.woff') format('woff'),
       url('AlfaSlabOne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

